body{
    padding:10px;
}
.table th, .table td{
    text-align:center;
 }
/* 分页样式--begin */
.current,.num{
    display: inline-block;
    border:1px solid #ccc;
    width: 20px;
    height: 24px;
    line-height: 24px;
    margin: 5px 3px 0 3px;
    background: 
}
.current{
    border: none;
}
.num:hover{
    background: #E0FAF0;
}
/* 分页样式--end */
