form{
    width:300px;
    height:200px;
    margin:0 auto;
    margin-top:150px;
    border: 1px dashed #666;
    padding: 10px;
    border-radius:5px;
}
form input{
    margin-bottom:15px;
}
form input.submit{
    width:80px;
    border-radius:5px;
    height:30px;
    margin-left:90px;
}

