.main .article-info{
    width:65%;
    float:left;
}
.main h2{
    text-align:center;
}
.main div.cont{
    margin:30px;
}
.comment h2{
    text-align:left;
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:1px solid #ccc;
}
.item{
    margin:10px 0;
    padding :10px 0;
    border-bottom:1px dashed #ccc;
}
.item-cont{
    margin:20px 0 0 32px;
}
.time{
    margin:10px 30px 0 0;
    text-align:right;
 }
#fireupadd{
    margin:10px 0 50px 0 ;
}
#fireupadd p{
    margin-top:20px;
}
